.table {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.row {
  /* border: ; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.cell {
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
}
